<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}小二兔聊天机器人{% endblock title %}</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

    {% if app.request.host != 'localhost' %}
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?ec8e80cb5a0c012024fffd91e3614edb";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            var _czc = _czc || [];
            _czc.push(["_setAccount", "1258402137"]);
        </script>
    {% endif %}

    {% block head %}
    {% endblock head %}

</head>

<body style="background-color: RGB(31,31,31)">


<script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>

<script>
    var checkSystem = function () {
        var uaMap = {
            'android': /Android/i,
            'ios': /(?:iPhone|iPad)/i
        };
        var ua = window.navigator.userAgent;
        for (var i in uaMap) {
            if (uaMap[i].test(ua)) {
                return i;
            }
        }
        return null;
    };

    var showleft = false;
    var xmlHttp;
    function submit() {
        if (window.ActiveXObject) {
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        else if (window.XMLHttpRequest) {
            xmlHttp = new XMLHttpRequest();
        }
        var input = $("#input").val().trim();
        if (input == '') {
            jQuery('#input').val('');
            return;
        }
        addText(input, false);
        jQuery('#input').val('');
        jQuery('#info').html('机器人正在思考中,请稍后...');
        var datastr = "input=" + input;
        datastr = encodeURI(datastr);
        var url = "/chatbot/query";
        xmlHttp.open("POST", url, true);
        xmlHttp.onreadystatechange = callback;
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send(datastr);
    }

    function callback() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            var responseText = xmlHttp.responseText;
            // http://docs.cksource.com/ckeditor_api/symbols/src/core_editor.js.html
            addText(responseText, true);
            jQuery('#info').html('');
        }
    }

    function addText(text, is_response) {
        var oldText = CKEDITOR.instances.chatarea.getData();
        oldText = oldText.substr(0, oldText.length - 7);
        if (is_response && checkSystem() != 'ios' && checkSystem() != 'android') {
            if (showleft == true) {
                oldText = oldText.replace('nonurl', 'http://www.shareditor.com/uploads/media/default/0001/01/thumb_416_default_big.png');
                jQuery('#rabbit-left').css('display', 'none');
                showleft = false;
            } else {
                oldText = oldText.replace('http://www.shareditor.com/uploads/media/default/0001/01/thumb_416_default_big.png', 'nonurl');
                jQuery('#rabbit-left').css('display', 'block');
                showleft = true;
            }
        }
        var prefix = '';
        if (is_response) {
            prefix = "<div style='color: blue; text-align: left; padding: 5px;'>小二兔: "
        } else {
            prefix = "<div style='color: darkgreen; text-align: right; padding: 5px;'>我: "
        }
        CKEDITOR.instances.chatarea.setData(oldText + "" + prefix + text + "</div></div>");

        window.setTimeout(scrollDown, 50);
    }

    function submitByEnter()
    {
        if(event.keyCode == 13)
        {
            submit();
        }
    }

    function scrollDown() {
        var editor = CKEDITOR.instances.chatarea;
        var jqDocument = $(editor.document.$);
        var documentHeight = jqDocument.height();
        jqDocument.scrollTop(documentHeight);
    }
</script>

{#logo#}
<div class="row bg-primary" style="margin-right: 0">
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-sm-2 col-xs-11"><h1><a href="{{ path('homepage') }}" style="text-decoration: none;color: white;"
                                           onclick="_czc.push(['_trackEvent', 'logo', '点击']);">SharEDITor</a></h1></div>
</div>

<br />
{#正文#}
<div class="row">
    <div class="col-sm-2 col-xs-1"></div>
    <div class="col-sm-4 col-xs-10">
        <div id="rabbit-left" style="position: absolute;left: -50px; top: 400px;display: none;"><img width="50px" height="62px" src="http://www.shareditor.com/uploads/media/default/0001/01/thumb_415_default_big.png"/></div>
        <div class="row">
            <textarea id="chatarea" style="background-color: #00A6C7">
                <div id="container-div" style="padding:10px;padding-top: 50px;
                background-image:url(http://www.shareditor.com/uploads/media/default/0001/01/thumb_416_default_big.png);
                background-repeat:no-repeat;
                background-position:left top;
                background-blend-mode:normal;
                background-attachment:fixed;
                background-size:61px 50px;
                background-position: 20px 0px">
                    <div style='color: blue; text-align: left; padding: 5px;'>小二兔: 喂，大哥您好，您终于肯跟我聊天了,来侃侃呗,我来者不拒!</div>
                    <div style='color: blue; text-align: left; padding: 5px;'>小二兔: 啥?你问我怎么这么聪明会聊天?因为我刚刚吃了一堆影视剧字幕!</div>
                </div>
            </textarea>
        </div>

        <div id="info" style="color: #FFFFFF; height:20px;"></div>
        <br />
        <div class="row">
            <div class="input-group">
                <input type="text" id="input" class="form-control" autofocus="autofocus" onkeydown="submitByEnter()" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="submit()">发送</button>
              </span>
            </div>
        </div>
        <br />
        <div style="color: #959595; height:20px;"><a target="_blank" href="http://www.shareditor.com/blogshow/?blogId=112">点击直接获取字幕语料库</a></div>
        <div class="hidden-xs" style="color: #959595; height:20px;">觉得小二兔还有些答非所问?你也可以参照右面的文章自己训练一个</div>

    </div>
    <div class="col-sm-4 hidden-xs">

        <div class="row">
            <div class="col-sm-4">
                <h4 style="color: #FFFFFF; border-bottom: 1px solid #695d69; padding-bottom: 10px; margin-top: 10px;">
                    官方微信公众号
                </h4>
                <a href="http://{{ app.request.httphost }}/images/weixinpub.jpg"
                   target="_blank"
                >
                    <img src="http://{{ app.request.httphost }}/images/weixinpub.jpg" width="100%" height="100%" style=""/>
                </a>
            </div>
            <div class="col-sm-1">
                <a href="https://github.com/warmheartli"
                   target="_blank"
                   onclick="_czc.push(['_trackEvent', 'github链接', '点击']);"
                >
                    <div class="fa fa-github fa-3x" style="margin-top: 100px;"></div>
                </a>
            </div>

            <div class="col-sm-1">
                <a href="http://weibo.com/chuangwanglaile"
                   target="_blank"
                   onclick="_czc.push(['_trackEvent', 'weibo链接', '点击']);"
                >
                    <div class="fa fa-weibo fa-3x" style="margin-top: 100px;"></div>
                </a>
            </div>
            <div class="col-sm-2"></div>
        </div>



        <h4 style="color: #FFFFFF; border-bottom: 1px solid #695d69; padding-bottom: 10px; margin-top: 30px;">
            最热文章</h4>
        {% for article in tophotblogs %}

            <div class="row" style="margin: 10px;margin-left: 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                <span style="color: #FFFFFF; background-color: #AAAAAA; border-radius: 12px;padding-left: 5px;padding-right: 5px;">{{ article.pv }}</span>
                <a title="{{ article.title }}" style="color: #959595;"
                   href="{{ path('blog_show', {'blogId':article.id}) }}"
                   target="_blank"
                   onclick="_czc.push(['_trackEvent', '最热文章', '点击', '{{ article.title }}']);"
                >{{ article.title }}</a>
            </div>

        {% endfor %}
        <br/>
    </div>
    <div class="col-sm-2 col-xs-1"></div>
</div>

{#http://docs.cksource.com/ckeditor_api/symbols/CKEDITOR.config.html#}
<script type="text/javascript">


    if (checkSystem() == 'ios' || checkSystem() == 'android') {
        CKEDITOR.replace('chatarea',
            {
                readOnly: true,
                toolbar: ['Source'],
                height: 200,
                removePlugins: 'elementspath',
                resize_enabled: false,
                allowedContent: true
            });
    } else {
        CKEDITOR.replace('chatarea',
            {
                readOnly: true,
                toolbar: ['Source'],
                height: 500,
                removePlugins: 'elementspath',
                resize_enabled: false,
                allowedContent: true
            });
    }

    CKEDITOR.addCss('body{margin:0px;}');
</script>

<br />
<br />

{#cnzz统计#}
<div class="row" style="margin-right: 0">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 col-xs-12 text-center" style="color: #959595;margin-bottom: 10px;">
        {% if app.request.host != 'localhost' %}
            <script type="text/javascript">
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1258402137'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258402137' type='text/javascript'%3E%3C/script%3E"));
            </script>
        {% endif %}
    </div>
</div>

</body>
</html>